button {
  background-color: #04aa6d;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 4px 4px;
  border: none;
  cursor: pointer;
  list-style: none;
  width: 50%;
}

button:hover {
  opacity: 0.8;
}

#hr {
  margin: 0.5rem 4rem 0.5rem 4rem;
  color: #04aa6d;
}

#copyright {
  display: inline-block;
  margin-left: 3.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#social-media {
  float: right;
  font-size: large;
  margin-right: 4rem;
  text-decoration: none;
}

#social-media a {
  text-decoration: none;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 1rem;
}

nav {
  background: rgb(137, 157, 221, 0.5);
  height: auto;
  width: 100%;
  overflow: hidden;
}

.logo {
  padding: 4px 4px 4px 4px;
}

nav ul {
  float: right;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  text-decoration: none;
}

li.contains li {
  float: none;
  font-size: 0.8rem;
}

nav li {
  float: right;
}

li.contains ul {
  display: none;
  background: rgb(137, 157, 221, 0.5);
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

li.contains:hover ul {
  display: inline-block;
  position: absolute;
}

nav ul li {
  display: block;
  line-height: 55px;
  margin: 0 10px;
}

a:hover {
  background: rgb(137, 157, 221);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(209, 215, 228);
  overflow: hidden;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: xx-large;
  text-align: center;
}

div#btns {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 275px;
}
